<section id="blockCatalog" class="catalog bg-grey">
    <div class="container mx-auto pb-16">
        <p class="text-dark-grey text-center font-MontserratSemiBold lg:text-52 md:text-4xl text-32 pt-16">Каталог <span
                class="text-dark-yellow">спецтехники</span></p>
        <div class="card-box flex flex-wrap items-stretch justify-center pt-10">
            <!--Card 1-->
            <div class="column card flex-grow flex flex-col text-center justify-center cursor-pointer rounded-xl bg-white overflow-hidden shadow-lg py-10 px-7 md:px-8 h-full ">
                <div class="w-full relative mb-neg h-1/2
">
                    <div class="">
                        <img src="./img/autokran.png" alt="">
                    </div>
                </div>
                <div class="w-full flex items-end h-1/2">
                    <div class="w-full flex flex-col justify-end h-full">
                        <p class="flex justify-center flex-1 font-MontserratSemiBold text-dark-grey lg:text-32 md:text-26 text-32 items-center mb-3
">
                            Автокран</p>
                        <div class="">
                            <span class="font-MontserratRegular text-light-grey lg:text-26 md:text-base text-lg mb-3">От 1720 $/час</span>
                            <a class="mx-auto self-end btn-2 md:w-full mt-5 lg:px-28 lg:w-auto w-full uppercase font-MontserratBold text-base"
                               href="zakazat.html">заказать</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Card 2-->
            <div class="column card flex-grow flex flex-col text-center justify-center cursor-pointer rounded-xl bg-white overflow-hidden shadow-lg py-10 px-7 md:px-8 h-full ">
                <div class="w-full relative mb-neg h-1/2">
                    <div class="">
                        <img src="./img/greyder.png" alt="">
                    </div>
                </div>
                <div class="w-full flex items-end h-1/2">
                    <div class="w-full flex flex-col justify-end h-full">
                        <p class="flex justify-center flex-1 font-MontserratSemiBold text-dark-grey lg:text-32 md:text-26 text-32 items-center mb-3
">
                            Автогрейдер</p>
                        <div class="">
                            <span class="font-MontserratRegular text-light-grey lg:text-26 md:text-base text-lg mb-3">От 1720 $/час</span>
                            <a class="mx-auto self-end btn-2 md:w-full mt-5 lg:px-28 lg:w-auto w-full uppercase font-MontserratBold text-base"
                               href="zakazat.html">заказать</a>

                        </div>
                    </div>
                </div>
            </div>

            <!--Card 3-->
            <div class="column card flex-grow flex flex-col text-center justify-center cursor-pointer rounded-xl bg-white overflow-hidden shadow-lg py-10 px-7 md:px-8 h-full ">
                <div class="w-full relative mb-neg h-1/2
">
                    <div class="">
                        <img src="./img/front.png" alt="">
                    </div>
                </div>
                <div class="w-full flex items-end h-1/2">
                    <div class="w-full flex flex-col justify-end h-full">
                        <p class="flex justify-center flex-1 font-MontserratSemiBold text-dark-grey lg:text-32 md:text-26 text-32 items-center mb-3
">
                            Фронтальный погрузчик</p>

                        <div class="">
                            <span class="font-MontserratRegular text-light-grey lg:text-26 md:text-base text-lg mb-3">От 1720 $/час</span>
                            <a class="mx-auto self-end btn-2 md:w-full mt-5 lg:px-28 lg:w-auto w-full uppercase font-MontserratBold text-base"
                               href="zakazat.html">заказать</a>

                        </div>
                    </div>
                </div>
            </div>
            <!--Card 4-->
            <div class="column card flex-grow flex flex-col text-center justify-center cursor-pointer rounded-xl bg-white overflow-hidden shadow-lg py-10 px-7 md:px-8 h-full ">
                <div class="w-full relative mb-neg h-1/2
">
                    <div class="
">
                        <img src="./img/samosval.png" alt="">
                    </div>
                </div>
                <div class="w-full flex items-end h-1/2">
                    <div class="w-full flex flex-col justify-end h-full">
                        <p class="flex justify-center flex-1 font-MontserratSemiBold text-dark-grey lg:text-32 md:text-26 text-32 items-center mb-3
">
                            Самосвал</p>

                        <div class="">
                            <span class="font-MontserratRegular text-light-grey lg:text-26 md:text-base text-lg mb-3">От 1720 $/час</span>
                            <a class="mx-auto self-end btn-2 md:w-full mt-5 lg:px-28 lg:w-auto w-full uppercase font-MontserratBold text-base"
                               href="zakazat.html">заказать</a>

                        </div>


                    </div>
                </div>
            </div>
            <!--Card 5-->
            <div class="column card flex-grow flex flex-col text-center justify-center cursor-pointer rounded-xl bg-white overflow-hidden shadow-lg py-10 px-7 md:px-8 h-full ">
                <div class="w-full relative mb-neg h-1/2
">
                    <div class="
">
                        <img src="./img/katok.png" alt="">
                    </div>
                </div>
                <div class="w-full flex items-end h-1/2">
                    <div class="w-full flex flex-col justify-end h-full">
                        <p class="flex justify-center flex-1 font-MontserratSemiBold text-dark-grey lg:text-32 md:text-26 text-32 items-center mb-3
">
                            Каток</p>

                        <div class="">
                            <span class="font-MontserratRegular text-light-grey lg:text-26 md:text-base text-lg mb-3">От 1720 $/час</span>
                            <a class="mx-auto self-end btn-2 md:w-full mt-5 lg:px-28 lg:w-auto w-full uppercase font-MontserratBold text-base"
                               href="zakazat.html">заказать</a>

                        </div>


                    </div>
                </div>
            </div>

            <!--Card 6-->
            <div class="column card flex-grow flex flex-col text-center justify-center cursor-pointer rounded-xl bg-white overflow-hidden shadow-lg py-10 px-7 md:px-8 h-full ">
                <div class="w-full relative mb-neg h-1/2
">
                    <div class="
">
                        <img src="./img/buldozer.png" alt="">
                    </div>
                </div>
                <div class="w-full flex items-end h-1/2">
                    <div class="w-full flex flex-col justify-end h-full">
                        <p class="flex justify-center flex-1 font-MontserratSemiBold text-dark-grey lg:text-32 md:text-26 text-32 items-center mb-3
">
                            Бульдозер гусеничный</p>

                        <div class="">
                            <span class="font-MontserratRegular text-light-grey lg:text-26 md:text-base text-lg mb-3">От 1720 $/час</span>
                            <a class="mx-auto self-end btn-2 md:w-full mt-5 lg:px-28 lg:w-auto w-full uppercase font-MontserratBold text-base"
                               href="zakazat.html">заказать</a>

                        </div>


                    </div>
                </div>
            </div>


            <!--Card 7-->
            <div class="column card flex-grow flex flex-col text-center justify-center cursor-pointer rounded-xl bg-white overflow-hidden shadow-lg py-10 px-7 md:px-8 h-full ">
                <div class="w-full relative mb-neg h-1/2
">
                    <div class="
">
                        <img src="./img/eks.png" alt="">
                    </div>
                </div>
                <div class="w-full flex items-end h-1/2">
                    <div class="w-full flex flex-col justify-end h-full">
                        <p class="flex justify-center flex-1 font-MontserratSemiBold text-dark-grey lg:text-32 md:text-26 text-32 items-center mb-3
">
                            Гусеничный экскаватор</p>

                        <div class="">
                            <span class="font-MontserratRegular text-light-grey lg:text-26 md:text-base text-lg mb-3">От 1720 $/час</span>
                            <a class="mx-auto self-end btn-2 md:w-full mt-5 lg:px-28 lg:w-auto w-full uppercase font-MontserratBold text-base"
                               href="zakazat.html">заказать</a>

                        </div>


                    </div>
                </div>
            </div>

            <!--Card 8-->
            <div class="column card flex-grow flex flex-col text-center justify-center cursor-pointer rounded-xl bg-white overflow-hidden shadow-lg py-10 px-7 md:px-8 h-full ">
                <div class="w-full relative mb-neg h-1/2
">
                    <div class="">
                        <img src="./img/kolesniy-eks.png" alt="">
                    </div>
                </div>
                <div class="w-full flex items-end h-1/2">
                    <div class="w-full flex flex-col justify-end h-full">
                        <p class="flex justify-center flex-1 font-MontserratSemiBold text-dark-grey lg:text-32 md:text-26 text-32 items-center mb-3
">
                            Колесный экскаватор</p>

                        <div class="">
                            <span class="font-MontserratRegular text-light-grey lg:text-26 md:text-base text-lg mb-3">От 1720 $/час</span>
                            <a class="mx-auto self-end btn-2 md:w-full mt-5 lg:px-28 lg:w-auto w-full uppercase font-MontserratBold text-base"
                               href="zakazat.html">заказать</a>

                        </div>
                    </div>
                </div>
            </div>


            <!--Card 9-->
            <div class="column card flex-grow flex flex-col text-center justify-center cursor-pointer rounded-xl bg-white overflow-hidden shadow-lg py-10 px-7 md:px-8 h-full ">
                <div class="w-full relative mb-neg h-1/2">
                    <div class="">
                        <img src="./img/kolesniy-eks-2.png" alt="">
                    </div>
                </div>
                <div class="w-full flex items-end h-1/2">
                    <div class="w-full flex flex-col justify-end h-full">
                        <p class="flex justify-center flex-1 font-MontserratSemiBold text-dark-grey lg:text-32  md:text-26 text-32 items-center mb-3
">
                            Экскаватор погрузчик</p>

                        <div class="">
                            <span class="font-MontserratRegular text-light-grey lg:text-26 md:text-base text-lg mb-3">От 1720 $/час</span>
                            <a class="mx-auto self-end btn-2 md:w-full mt-5 lg:px-28 lg:w-auto w-full uppercase font-MontserratBold text-base"
                               href="zakazat.html">заказать</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>