<section class="block-service">
    <div class="container px-0 mx-auto py-10 border-b-2">
        <div class="flex flex-col md:flex-row items-center">
            <div class="md:w-1/2 w-full relative">
                <span class="relative z-10 font-MontserratBold text-35 md:text-33 lg:text-53 lg:leading-tight md:leading-tight leading-normal">АРСТ - это удобный <br>
и надёжный сервис
аренды спецтехники</span>
                <div class="line-title bg-dark-yellow"></div>
            </div>
            <div class="md:w-1/2 w-full">
                <p class="font-MontserratRegular text-light-grey mdtext-xl text-base md:text-sm lg:text-xl">Зачем содержать свой парк, если можно иметь доступ
                    к 7 000 единицам техники, которые не нужно обслуживать, заправлять, и держать в штате машиниста.
                    <br> <br>
                    В нашем сервисе вы платите только за часы аренды технки.
                    В нашем сервисе вы платите только за часы аренды технки.</p>
            </div>
        </div>
    </div>
</section>