<section class="contact bg-grey pb-20">
    <div class="container mx-auto">
        <p class="text-dark-grey text-center font-MontserratSemiBold lg:text-52 md:text-4xl text-32 pt-16">Наши <span
                class="text-dark-yellow">контакты</span></p>
        <div class="flex md:flex-row flex-col justify-between md:items-center items-start">
            <div class="mail flex flex-col justify-center">
                <span class="py-3 font-MontserratSemiBold lg:text-32 md:text-22 text-32 text-dark-grey">Email:</span>
                <div class="inline-flex items-center">
                    <i class="fa fa-2x fa-envelope" aria-hidden="true"></i>
                    <a class="pl-3 uppercase font-MontserratMedium text-dark-grey lg:text-22 md:text-base text-22 text-xl">info.arst@mail</a>
                </div>
            </div>
            <div class="phone flex flex-col justify-center items-center">
                <div class="text-left">
                    <span class="py-3 block font-MontserratSemiBold  lg:text-32 md:text-22 text-32 text-dark-grey">Телефон:</span>

                    <div class="inline-flex items-center">
                        <i class="fa fa-2x fa-phone" aria-hidden="true"></i>
                        <a class="pl-3 block uppercase font-MontserratMedium lg:text-22 md:text-base text-22 text-dark-grey">тел: 8 800 987 65 43</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>