<div class="container h-full">
    <div class="flex justify-center items-center my-40">
        <div class="flex flex-col text-center text-base font-MontserratSemiBold bg-grey shadow-lg p-5">
            <i class="fa fa-3x fa-check-circle" aria-hidden="true"></i>
            <span>Спасибо!</span>
            <span>Ваша заявка принята!</span>
            <span>В ближайшее время с Вами свяжется наш специалист!</span>
            <a class="lg:block btn-1 text-dark-grey font-MontserratBold w-9/12 md:w-1/2 my-5 mx-auto" href="/">перейти на главную</a>
        </div>
    </div>
</div>