<div class="header">
    <div class="container mx-auto">
        <div class="flex items-center justify-between py-2">
            <a class="md:w-auto" href="index.html"><img class="logo" src="./img/logo.svg" alt=""></a>
            <div class="pl-10 lg:pl-10 xl:pl-0 flex flex-1 flex-col block-header">
                <div class="lg:hidden flex items-center hidden md:flex pt-3.5 adress justify-between font-MontserratMedium uppercase text-xs lg:text-base text-dark-grey">

                    <div class="">
                        <i class="fa fa-lg fa-phone pr-2" aria-hidden="true"></i>
                        <a class="" href="tel:">тел: 8 800 987 65 43</a>
                    </div>

                    <button class="myBtn-open lg:block btn-1 text-dark-grey font-MontserratBold" type="button">заказать
                        звонок</button>
                </div>
                <div class="hidden md:flex justify-end lg:justify-between items-center py-3.5 pt-5 pb-2">
                    <div class="menu menu-width flex-1">
                        <ul class="flex lg:justify-evenly md:justify-between text-brownish-grey font-MontserratRegular text-base">
                            <li class="md:py-0 py-3"><a href="#">Каталог</a></li>
                            <li class="md:py-0 py-3"><a href="zakazchikam.html">Заказчикам</a></li>
                            <li class="md:py-0 py-3"><a href="vladelcam.html">Владельцам</a></li>
                            <li class="md:hidden lg:block"><i class="fa fa-lg fa-phone pr-2" aria-hidden="true"></i>
                                <a class="" href="tel:">тел: 8 800 987 65 43</a></li>
                        </ul>
                    </div>
                    <button class="myBtn-open hidden lg:block btn-1 text-dark-grey font-MontserratBold">заказать
                        звонок</button>
                </div>
            </div>
            <!--burger menu-->
            <div class="flex md:hidden relative menu-mob">
                <div class="burger">
                    <span></span>
                </div>
                <div class="menu_mob">
                    <div class="w-full flex justify-center">
                        <div class="flex flex-col">
                            <ul class="items-start flex flex-col justify-between text-brownish-grey font-MontserratRegular text-xl mb-4">
                                <li class="md:py-0 py-3"><a href="zakazat.html">Каталог</a></li>
                                <li class="md:py-0 py-3"><a href="zakazchikam.html">Заказчикам</a></li>
                                <li class="md:py-0 py-3"><a href="vladelcam.html">Владельцам</a></li>
                                <!--                                <li class="py-3"><a href="#">Контакты</a></li>-->
                            </ul>
                            <div class="flex flex-col font-MontserratMedium uppercase 2sm:text-base text-sm text-dark-grey">
                                <div class="flex items-baseline py-3">
                                    <i class="fa fa-lg fa-map-marker pr-4" aria-hidden="true"></i>
                                    <span class="">г. Краснодар, ул. советская 12</span>
                                </div>
                                <div class="flex items-baseline py-3">
                                    <i class="fa fa-lg fa-envelope  pr-2" aria-hidden="true"></i>
                                    <span>info.arst@mail.ru</span>
                                </div>
                                <div class="flex items-center py-3">
                                    <i class="fa fa-lg fa-phone  pr-2" aria-hidden="true"></i>
                                    <span>тел: 8 800 987 65 43</span>
                                </div>
                            </div>
                            <button class="myBtn-open btn-1 text-dark-grey font-MontserratBold text-center" type="button">заказать звонок</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>