<section class="four-blocks-vladelcam bg-grey py-10">
    <div class="container mx-auto">
        <p class="text-dark-grey text-center font-MontserratSemiBold text-32 md:text-4xl lg:text-52 py-5">Преимущества <span class="text-dark-yellow"> нашего сервиса</span></p>

        <p class="font-MontserratRegular text-22  text-center text-light-grey my-5">Дождевание, как следствие уникальности почвообразования в данных условиях, упруго восстанавливает органо-минеральный ортзанд. Чизелевание поглощает шурф. Окисление восстанавливает тяжелосуглини режим.Дождевание, как следствие уникальности почвообразования в данных условиях.</p>


        <div class="grid grid-cols-1 2sm:grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-5 my-10">
            <!--block-1-->
            <div class="card mx-auto rounded-xl shadow-sm p-8 bg-white">
                <span class="font-MontserratBold text-32 text-dark-grey bg-image pl-16">Клиентов</span>
                <p class="pt-6 font-MontserratMedium text-xl text-light-grey leading-8">Более 400 корпоративных клиентов заказывают
                    технику у нас. Более 400 корпоративных
                    клиентов.</p>
            </div>
            <!--block-2-->
            <div class="card mx-auto rounded-xl shadow-sm p-8 bg-white">
                <span class="font-MontserratBold text-32 text-dark-grey bg-image-2 pl-16">Безопасность</span>
                <p class="pt-6 font-MontserratMedium text-xl text-light-grey leading-8">Более 400 корпоративных клиентов заказывают
                    технику у нас. Более 400 корпоративных
                    клиентов.</p>
            </div>
            <!--block-3-->
            <div class="card mx-auto rounded-xl shadow-sm p-8 bg-white">
                <span class="font-MontserratBold text-32 text-dark-grey bg-image-3 pl-16">Клиентов</span>
                <p class="pt-6 font-MontserratMedium text-xl text-light-grey leading-8">Более 400 корпоративных клиентов заказывают
                    технику у нас. Более 400 корпоративных
                    клиентов.</p>
            </div>
            <!--block-4-->
            <div class="card mx-auto rounded-xl shadow-sm p-8 bg-white">
                <span class="font-MontserratBold text-32 text-dark-grey bg-image-4 pl-16">Безопасность</span>
                <p class="pt-6 font-MontserratMedium text-xl text-light-grey leading-8">Более 400 корпоративных клиентов заказывают
                    технику у нас. Более 400 корпоративных
                    клиентов.</p>
            </div>
        </div>
    </div>
</section>