<section class="block-about-our-service">
    <div class="container-fluid bg-dark-grey pb-16">
        <div class="container mx-auto">
            <p class="text-dark-grey text-center font-MontserratSemiBold text-32 md:text-4xl lg:text-52 pt-16">О нашем <span
                        class="text-dark-yellow pl-4 sm:pl-0">сервисе</span></p>
            <div class="pt-10 grid grid-cols-1 auto-rows-fr md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">
                <!--Card 1-->
                <div class="card mx-auto text-center rounded-xl bg-white overflow-hidden shadow-lg py-10 px-2">
                    <div class="flex flex-col h-full justify-between">
                        <div class="mx-auto round-digit font-MontserratSemiBold text-4xl">
                            01
                        </div>
                        <div class="flex-1">
                            <div class="flex flex-col justify-center h-full">
                                <div class="font-MontserratMedium text-28 lg:text-32 md:text-lg title mb-2">Принцип
                                    работы
                                </div>
                                <p class="font-MontserratRegular text-light-grey text-gray-700 text-base">
                                    Спецшеринг позволяет владельцам техники сдавать её в аренду с машинистом и без
                                </p></div>
                        </div>
                    </div>
                </div>
                <!--Card 2-->
                <div class="card mx-auto text-center rounded-xl bg-white overflow-hidden shadow-lg py-10 px-2">
                    <div class="flex flex-col h-full justify-between">
                        <div class="mx-auto round-digit font-MontserratSemiBold text-4xl">
                            02
                        </div>
                        <div class="flex-1">
                            <div class="flex flex-col justify-center h-full">
                                <div class="font-MontserratMedium text-28 lg:text-32 md:text-lg title mb-2">Требования к
                                    владельцам техники
                                </div>
                                <p class="font-MontserratRegular text-light-grey text-gray-700 text-base">
                                    Статус юридического лица, индивидуального предпринимателя, самозанятого
                                </p></div>
                        </div>
                    </div>
                </div>
                <!--Card 3-->
                <div class="card mx-auto text-center rounded-xl bg-white overflow-hidden shadow-lg py-10 px-2">
                    <div class="flex flex-col h-full justify-between">
                        <div class="mx-auto round-digit font-MontserratSemiBold text-4xl">
                            03
                        </div>
                        <div class="flex-1">
                            <div class="flex flex-col justify-center h-full">
                                <div class="font-MontserratMedium text-28 lg:text-32 md:text-lg title mb-2">Низкая  комиссия</div>
                                <p class="font-MontserratRegular text-light-grey text-gray-700 text-base">
                                    Удобный заказ по выгодным тарифам, управление арендой, оплата и закрывающие документы
                                </p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>