<section class="how-to-work bg-grey">
    <div class="container">
        <p class="text-dark-grey text-center font-MontserratSemiBold text-32 md:text-4xl lg:text-52 pt-16 md:px-20">Как владелец техники работает с <span class="text-dark-yellow">АРСТ</span></p>

        <span class="block font-MontserratRegular text-center text-base md:text-lg md:text-22 mt-10 text-light-grey">Более 2000 владельцев уже пользуются нашим и сервисом и сотрудничают с нами.</span>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-5 py-12 lg:text-22 md:text-sm">
            <div class="flex flex-col font-MontserratRegular text-dark-grey">

                <div class="bg-check pl-16 my-5">
                    <span class="font-MontserratSemiBold block text-xl pb-2">Заявка на аренду техники</span>
                    Вы получаете уведомления о заявке по
                    СМС, email или в личном
                    кабинете на сайте</div>

                <div class="bg-check pl-16 my-5">
                    <span class="font-MontserratSemiBold block text-xl pb-2">Ответ на заявку</span>
                    Рассмотрев заявку, вы даёте на неё ответ,
                    при этом можете указать свою цену</div>

                <div class="bg-check pl-16 my-5">
                    <span class="font-MontserratSemiBold block text-xl pb-2">Оплата</span>
                    Мы подтверждаем у заказчиков объём
                    аренды и перечисляем вам денежные
                    средства за вычетом комиссии сервиса за
                    прошедшую неделю</div>
            </div>

            <div class="flex flex-col font-MontserratRegular text-dark-grey ">

                <div class="bg-check pl-16 my-5">
                    <span class="font-MontserratSemiBold block text-xl pb-2">Заявка на аренду техники</span>
                    Вы получаете уведомления о заявке по
                    СМС, email или в личном
                    кабинете на сайте</div>

                <div class="bg-check pl-16 my-5">
                    <span class="font-MontserratSemiBold block text-xl pb-2">Ответ на заявку</span>
                    Рассмотрев заявку, вы даёте на неё ответ,
                    при этом можете указать свою цену</div>

                <div class="bg-check pl-16 my-5">
                    <span class="font-MontserratSemiBold block text-xl pb-2">Оплата</span>
                    Мы подтверждаем у заказчиков объём
                    аренды и перечисляем вам денежные
                    средства за вычетом комиссии сервиса за
                    прошедшую неделю</div>

            </div>
        </div>
    </div>
</section>