<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta id="view" name="viewport"
          content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="css/datepicker.material.css">
    <link rel="stylesheet"
          href="css/style.min.css">
    <title>@@title</title>
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="js/datepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" ></script>

</head>
<body>


