<section class="block-rents">
    <div class="container-fluid bg-dark-grey">
        <div class="container mx-auto">
            <p class="text-dark-grey text-center font-MontserratSemiBold text-32 md:text-4xl lg:text-52 pt-16">Арендуйте
                технику в <span
                        class="text-dark-yellow pl-4 sm:pl-0">3 простых шага</span></p>
            <div class="pt-10 grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">
                <!--Card 1-->
                <div class="card mx-auto text-center rounded-xl bg-white overflow-hidden shadow-lg py-10 px-2">
                    <div class="mx-auto round-digit font-MontserratSemiBold text-4xl">
                        01
                    </div>
                    <div class="pt-8">
                        <div class="font-MontserratMedium text-28 lg:text-32 md:text-lg title mb-2">Аренда</div>
                        <p class="font-MontserratRegular text-light-grey text-gray-700 text-base">
                            Описание первого шага, описание первого шага, описание первого шага, описание паервого шага
                        </p>
                    </div>
                </div>
                <!--Card 2-->
                <div class="card mx-auto text-center rounded-xl bg-white overflow-hidden shadow-lg py-10 px-2">
                    <div class="mx-auto round-digit font-MontserratSemiBold text-4xl">
                        02
                    </div>
                    <div class="pt-8">
                        <div class="font-MontserratMedium text-28 lg:text-32 md:text-lg title mb-2">Оплата</div>
                        <p class="font-MontserratRegular text-light-grey text-gray-700 text-base">
                            Описание второго шага, описание второго шага, описание второго шага, описание второго шага
                        </p>
                    </div>
                </div>
                <!--Card 3-->
                <div class="card mx-auto text-center rounded-xl bg-white overflow-hidden shadow-lg py-10 px-2">
                    <div class="mx-auto round-digit font-MontserratSemiBold text-4xl">
                        03
                    </div>
                    <div class="pt-8">
                        <div class="font-MontserratMedium text-28 lg:text-32 md:text-lg title mb-2">Безопасность</div>
                        <p class="font-MontserratRegular text-light-grey text-gray-700 text-base">
                            Описание третьего шага, описание третьего шага, описание третьего шага, описание третьего
                            шага
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-image mt-16">
            <div class="container px-0 mx-auto py-10 flex h-full relative justify-center items-center">
                <div class="relative self-center md:self-end title-block">
                    <p class="font-MontserratBold text-white lg:text-7xl md:text-56 text-43 leading-tight">
                        <span class="lg:block inline-block">На нашем сайте</span> вы можете арендовать <span class="pr-7 md:pr-0">спецтехнику</span> за 6 минут</p>
                    <div class="line-title  bg-dark-yellow">
                </div>

                </div>
            </div>
        </div>
    </div>
</section>