<section class="tender">
    <div class="container-fluid  bg-dark-grey">
        <div class="container mx-auto pb-16">
            <p class="text-dark-grey text-center font-MontserratSemiBold lg:text-52 md:text-4xl text-32 leading-none pt-16">
                Поможем с оформлением <span
                    class="text-dark-yellow leading-none">тендеров</span></p>
            <div class="pt-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-5">
            </div>

            <div class="pt-5 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 xl:grid-cols-1 gap-5">
                <!--Card 3-->
                <div class="card cursor-pointer text-center rounded-xl bg-white overflow-hidden shadow-lg pt-10 pl-7 pt-7  md:pl-8 md:pt-5 lg:pl-16 lg:pt-16 flex md:flex-row flex-col relative">
                    <div class="flex flex-col md:pb-10 md:w-1/2 lg:pb-10 lg:pr-14 pr-7 lg:pr-28 md:pr-14 ">
                        <div class="flex flex-col h-full justify-start">
                            <div class="">
                                <div class="md:py-5 uppercase mx-auto round-digit font-MontserratBlack text-base text-dark-grey-2">
                                    арендовать технику сейчас
                                </div>
                                <div class="font-MontserratMedium lg:text-32 md:text-26 text-2xl leading-none text-dark-grey lg:px-10">
                                    Спецпредложение для шеринга автогрейдера
                                </div>
                            </div>
                            <p class="font-MontserratMedium text-light-grey text-light-grey text-base leading-9 py-5 my-auto">
                                Вы
                                можете
                                заказать спецтехнику напрямую из каталога сервиса. Вам нужно перейти в наш каталог,
                                выбрать от, что вам нужно и оформить заявку в 3 простых этапа. Вы
                                можете
                            </p>
                        </div>
                        <a class="mx-auto self-end btn-2 md:w-full lg:px-16 lg:w-auto px-1 w-full uppercase font-MontserratBold text-base self-end"
                           href="#">перейти в
                            каталог</a>
                    </div>
                    <div class="bg-cards pt-10 md:pt-0">
                        <img class="absolute" src="./img/greyder.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>