.btn-mob {
  @apply cursor-pointer text-white shadow-xl px-2 py-1 inline-block rounded;
  width: 160px;
}

.btn-3 {
  @apply cursor-pointer text-white shadow-xl px-10 py-1 pr-10 inline-block rounded;
  min-width: 170px;
}

.btn-4 {
  @apply cursor-pointer text-white shadow-xl px-0 py-1 pr-5 text-center inline-block rounded;
  width: 156px;
}


