#datepicker,
#datepicker_2,
#ranged {
  //border: 1px solid grey;
  position: relative;
}

.datepicker:after{
  font-family: "FontAwesome";
  content: "\f133";
  position: absolute;
  display: inline-block;
  top: 50%;
  right: 15px;
  vertical-align: middle;
  font-weight: 900;
  transform: translate(0,-50%);
  }

.datepicker_2:after{
  font-family: "FontAwesome";
  content: "\f133";
  position: absolute;
  display: inline-block;
  right: 35px;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
}


