<section id="callTo" class="question bg-dark-grey py-20">
    <div class="container mx-auto">
        <div class="flex flex-col md:flex-row">
            <div class="lg:w-70 md:w-1/2 w-full">
                <span class="font-MontserratBold lg:text-82 md:text-67 text-72  text-dark-grey">Остались вопросы?</span>
                <p class="font-MontserratRegular lg:text-22 text-base text-light-grey leading-normal">У вас остались вопросы или требуется консультация в выборе техники?
                    <br> Оставьте заявку. Поможем с выбором техники, рассчитаем стоимость, расскажем о сервисе.</p>
            </div>
            <div class="lg:w-30 md:w-1/2 w-full">
                <form class="md:mr-0 md:ml-auto" action="">
                    <input type="text"  class="rounded-sm px-4 py-3 mt-3 focus:outline-none bg-white w-full" placeholder="Имя" />
                    <input type="tel"  class="rounded-sm px-4 py-3 mt-6 focus:outline-none bg-white w-full" placeholder="Телефон" />
                    <button class="mx-auto self-end btn-2 uppercase font-MontserratBold my-6 text-base duration-300 hover:bg-dark-yellow w-full" type="submit">заказать обратную связь</button>
                    <p class="font-MontserratRegular text-light-grey text-sm">*Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь c политикой конфиденциальности</p>
                </form>
            </div>
        </div>
    </div>
</section>