<section class="four-blocks">
    <div class="container mx-auto my-8">
        <div class="grid grid-cols-1 2sm:grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5">
            <!--block-1-->
            <div class="mx-auto lg:px-8">
                <span class="font-MontserratBold text-2xl text-dark-grey bg-image pl-16">Клиентов</span>
                <p class="pt-6 font-MontserratMedium text-base text-light-grey leading-7">Более 400 корпоративных
                    клиентов заказывают
                    технику у нас.</p>
            </div>
            <!--block-2-->
            <div class="mx-auto lg:px-8">
                <span class="font-MontserratBold text-2xl text-dark-grey bg-image-2 pl-16">Безопасность</span>
                <p class="pt-6 font-MontserratMedium text-base text-light-grey leading-7">Более 400 корпоративных
                    клиентов заказывают
                    технику у нас.</p>
            </div>
            <!--block-3-->
            <div class="mx-auto lg:px-8">
                <span class="font-MontserratBold text-2xl text-dark-grey bg-image-3 pl-16">Спецтехника</span>
                <p class="pt-6 font-MontserratMedium text-base text-light-grey leading-7">Более 400 корпоративных
                    клиентов заказывают
                    технику у нас.</p>
            </div>
            <!--block-4-->
            <div class="mx-auto lg:px-8">
                <span class="font-MontserratBold text-2xl text-dark-grey bg-image-4 pl-16">Нам 4 года</span>
                <p class="pt-6 font-MontserratMedium text-base text-light-grey leading-7">Более 400 корпоративных
                    клиентов заказывают
                    технику у нас.</p>
            </div>
        </div>
    </div>
</section>