@tailwind base;
@tailwind components;
@tailwind utilities;

.activated {
  @apply cursor-pointer rounded-xl overflow-hidden py-1 lg:py-4 bg-not-active;
}

.push-button {
  @apply cursor-pointer rounded-xl bg-white overflow-hidden shadow-mass-button py-2 md:py-1 lg:py-4;
}
.btn-1 {
  @apply cursor-pointer bg-dark-yellow hover:bg-dark-yellow shadow-xl px-6 py-2.5 rounded-lg;
}

.btn-header {
  @apply cursor-pointer bg-dark-yellow hover:bg-dark-yellow shadow-xl py-2.5 rounded-lg;
}


.btn-2 {
  @apply cursor-pointer bg-dark-yellow hover:bg-dark-yellow shadow-xl py-5 inline-block rounded-lg;
}

.btn-zakaz {
  @apply cursor-pointer bg-dark-yellow hover:bg-dark-yellow shadow-xl lg:py-4 md:py-2 py-2 rounded-lg;
}

@layer components {

  .bg-not-active {
    background-color: #e0e0e0;
  }

  .text-dark-grey {
    color: #333333;
  }

  .text-10 {
    font-size: 10px;
  }

  .text-12 {
    font-size: 12px;
  }
  .text-15 {
    font-size: 15px;
  }

  .text-17 {
    font-size: 17px;
  }

  .text-22 {
    font-size: 22px;
  }

  .text-26 {
    font-size: 26px;
  }

  .text-28 {
    font-size: 28px;
  }
  
  .text-33 {
    font-size: 33px;
  }

  .text-32 {
    font-size: 32px;
  }

  .text-35 {
    font-size: 35px;
  }

  .text-38 {
    font-size: 38px;
  }

  .text-42 {
    font-size: 42px;
  }

  .text-43 {
    font-size: 43px;
  }


  .text-44 {
    font-size: 44px;
  }

  .text-52 {
    font-size: 52px;
  }

  .text-53 {
    font-size: 53px;
  }

  .text-54 {
    font-size: 54px;
  }

  .text-67 {
    font-size: 67px;
  }

  .text-72 {
    font-size: 72px;
  }

  .text-82 {
    font-size: 82px;
  }

  .text-16 {
    color: #161616;
  }

  .text-dark-grey-2 {
    color: #cccccc;
  }

  .text-light-grey {
    color: #999999;
  }

  .bg-light-gray {
    background-color: #999999;
  }

  .bg-light-gray-line {
    background-color: #cdcdcd;
  }


  .text-brownish-grey {
    color: #666666;
  }

  .text-dark-yellow {
    color: #f0c42e;
  }

  .border-b-2 {
    border-bottom: 2px solid #f0c42e;
  }

  .bg-grey {
    background-color: #f5f5f5;
  }

  .bg-dark-yellow {
    background-color: #f0c42e;
  }

  .bg-dark-grey {
    background-color: #eaeaea;
  }

  .w-16-1 {
    width: 16%;
  }

  .lavand-color {
    background-color: rgba(212, 238, 251, 1);
  }

  .bgc-purple {
    background-color: rgb(148, 51, 145);
  }

  .bgc-pink {
    background-color: rgb(246,222,236);
  }

  .bgc-blue {
    background-color: rgb(85, 146, 217);
  }

  .border-3 {
    border-width: 3px;
  }

  .border-b-1 {
    border-bottom: 1px solid #FFFFFF;
  }

  .bg-transparent {
    background: transparent !important;
  }

  .text-black {
    color: black !important;
  }

  .border-button {
    border: 1px solid rgb(148, 51, 145);
  }

  .fill-current-color {
    fill: rgb(148, 51, 145);
  }

  .w-66 {
    width: 66px;
  }

  .text-purp {
    color: #94268F;
  }

  .w-30 {
    width: 30%;
  }

  .shadow-mass-button {
    box-shadow: -2px 1px 15px 0px rgba(0, 0, 0, 0.2);
  }

}

.not-shadow-mass-button {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
  background-color: #e0e0e0;
}