<section class="partners bg-grey">
    <div class="container mx-auto pb-16">
        <p class="text-dark-grey text-center font-MontserratSemiBold lg:text-52 md:text-4xl text-32 pt-16">Наши <span
                class="text-dark-yellow">партнеры</span></p>
        <div class="pt-10 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5">

            <div class="mx-auto font-MontserratSemiBold text-5xl text-light-grey">компания 1</div>

            <div class="mx-auto font-MontserratSemiBold text-5xl text-light-grey">компания 2</div>

            <div class="mx-auto font-MontserratSemiBold text-5xl text-light-grey">компания 3</div>

            <div class="mx-auto font-MontserratSemiBold text-5xl text-light-grey">компания 4</div>

            <div class="mx-auto font-MontserratSemiBold text-5xl text-light-grey">компания 5</div>

            <div class="mx-auto font-MontserratSemiBold text-5xl text-light-grey">компания 6</div>

            <div class="mx-auto font-MontserratSemiBold text-5xl text-light-grey">компания 7</div>

            <div class="mx-auto font-MontserratSemiBold text-5xl text-light-grey">компания 8</div>

            <div class="mx-auto font-MontserratSemiBold text-5xl text-light-grey">компания 9</div>
        </div>
    </div>
</section>
